@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@300;400&display=swap');

/* para nao quebrar o layou todo */
* {
    box-sizing: border-box; 
}

:root {
    /* paleta de cores */
    --bg-dark: #050A30;
    --bg-light: #000C66;
    --accent-cyan: #00FFFF;
    --accent-blue: #0074D9;
    --text-white: #ffffff;
    --glass-bg: rgba(255, 255, 255, 0.05);
    --glass-border: rgba(0, 255, 255, 0.2);
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, var(--bg-dark) 0%, #021b3c 50%, var(--bg-light) 100%);
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif;
    color: var(--text-white);
    min-height: 100vh;
    
    /* bloqueia barra lateral */
    overflow-x: hidden; 
    width: 100%;
}

/* estrutura geral */
.main-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    /* obriga o container a ocupar o tamanho certo */
    width: 100%;
    max-width: 100%; 
}

/* cabecalho reangular superior */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--glass-bg);
    backdrop-filter: blur(10px);
    border: 1px solid var(--glass-border);
    border-radius: 15px;
    padding: 15px 30px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.1);
}

/* logos  */
.logo-area {
    display: flex;
    align-items: center;   
    gap: 15px;
}

.logo-img {
    width: 80px;           
    height: 60px;          
    object-fit: contain;   
    border-radius: 25%;    
    border: 2px solid var(--accent-cyan);
    box-shadow: 0 0 5px var(--accent-cyan);
    transition: transform 0.3s;
    background-color: #fff;  
}

.logo-img:hover {
    transform: scale(1.1);
}

/* titulo*/
.title-area {
    text-align: center;
}

.main-title {
    /* font-family: 'Orbitron', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin: 0;
    letter-spacing: 2px;
    text-shadow: 0 0 10px var(--accent-cyan);
}

.subtitle {
    font-size: 0.9rem;
    color: #aabce0;
    margin: 5px 0 0 0;
}

/* datas */
.date-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 999;
}

.date-label {
    font-size: 0.8rem;
    color: var(--accent-cyan);
    margin-bottom: 2px;
    z-index: 999;
}

/* caixa de data estatica */
.static-date-box {
    background-color: rgba(0, 12, 102, 0.5);
    color: var(--accent-cyan);               
    border: 1px solid var(--accent-blue);    
    border-radius: 5px;
    
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    text-align: center;
    
    padding: 8px 15px;      
    min-width: 110px;       
    display: inline-block;
    
    box-shadow: 0 0 5px rgba(0, 116, 217, 0.3); 
}

/* deixar dash escuro */
.futuristic-date .DateInput_input {
    background-color: rgba(0, 12, 102, 0.5);
    color: var(--accent-cyan);
    border: 1px solid var(--accent-blue);
    border-radius: 5px;
    /* font-family: 'Orbitron', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    text-align: center;
    padding: 5px;
}

/* --- grid para os cards de Kpis (8 Quadrados) --- */
.kpi-grid {
    display: grid;
    /* 4 colunas de tamanho igual */
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    margin-bottom: 10px;
}

.kpi-card {
    background: linear-gradient(160deg, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.3) 100%);
    border: 1px solid var(--glass-border);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    
    /* efeito da caixinha de texto explicativa */
    position: relative; 
    overflow: visible; /* deixa a caixa sair para fora */
    z-index: 1; /* camada padrao */
    
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    cursor: help;
}

.kpi-card:hover {
    border-color: var(--accent-cyan);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.2);
    transform: translateY(-5px);
    z-index: 999;
}

/* TOOLTIP caixinha de texto flutuante */
.tooltip-text {
    visibility: hidden;
    opacity: 0;
    
    /* largura responsiva */
    width: max-content;       /* tenta ajustar ao conteudo */
    min-width: 200px;         /* tamanho minimo */
    max-width: 280px;         /* tamanho maximo */
    
    background-color: #02051d;;
    color: #e0e0e0;
    text-align: left;   
    border-radius: 8px;
    padding: 12px; 
    
    border: 1px solid var(--accent-cyan);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9); 
    
    font-size: 0.75rem;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    
    /* ficar abaixo do card */
    position: absolute;
    top: 115%; 
    left: 50%;    
    transform: translateX(-50%);
    
    transition: opacity 0.3s, top 0.3s; 
    pointer-events: none;
    z-index: 1000;
}

/* a setinha que sai do card fica pra cima agora */
.tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    
    /* cor da seta */
    border-color: transparent transparent var(--accent-cyan) transparent;
}


/* o efeito quando passar o mouse */
.kpi-card:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    top: 105%;
}

/* se a tela for menor que 768px (tablets/celulares), ajusta a caixinha */
@media (max-width: 1200px) {
    .kpi-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* em celulares, 1 por linha */
@media (max-width: 768px) {
    .kpi-grid {
        grid-template-columns: 1fr;
    }
}

/* alinhar a esquerda para nao sair da tela */
.tooltip-align-left {
    left: 0;
    transform: none;
}

.tooltip-align-left::after {
    left: 20%; 
}

/* alinhar a caixinha a direita no ultimo card pra nao sair da tela tambem */
.tooltip-align-right {
    left: auto;
    right: 0; 
    transform: none;
}
/* para a setinha acompanhar a caixa na direita */
.tooltip-align-right::after {
    left: auto;
    right: 20%;
}

.kpi-label {
    font-size: 0.9rem;
    color: #aabce0;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.kpi-value {
    /* font-family: 'Orbitron', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin: 0;
    color: var(--text-white);
    text-shadow: 0 0 5px var(--accent-blue);
}

/* brilho interno */
.glow-effect {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(0,255,255,0.05) 0%, transparent 70%);
    pointer-events: none;
}

/* lugar do grafico */
.graph-placeholder {
    margin-top: 20px;
    height: 400px;
    border: 2px dashed var(--glass-border);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,0.3);
}


/* area dos graficos */
.charts-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 10px;
}

.graph-card {
    background: linear-gradient(160deg, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.4) 100%);
    border: 1px solid var(--glass-border);
    border-radius: 15px;
    padding: 15px;
    
    /* sobra suave azulada */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    
    transition: border-color 0.3s;
}

.graph-card:hover {
    border-color: rgba(0, 255, 255, 0.4); /* brilha um cadin quando passa o mouse */
}